{% extends 'index.html' %}

{% block content %}
    <h1>Product</h1>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Detail</title>
    </head>
    <body>
        <h1>{{ product.title }}</h1>
        <p>{{ product.content }}</p>
        <p>{{ product.rate }}</p>
        <tbody>
            {% for review in product.review.all %}
                <p>
                    <tr>
                        <td>{{ review }}</td>
                    </tr>
                </p>
            {% endfor %}
        </tbody>
        <img src="{{ product.img.url }}" alt="book" height="300" width="300">
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <br><input type="submit" value="Add review"></br>
        </form>

        <h2>Reviews</h2>
        {% for review in product.reviews.all %}
            <p>{{ review.text }}</p>
        {% endfor %}
    </body>
    </html>
{% endblock %}
